Program runing pre-requisites:

    Python 3.11
    Visual Studio Code
    Jupyter Notebook

Instructions on how to run jupyter notebook:

    Right-click >> open folder in terminal
    python -m notebook
    Jupyter notebook should open

Instructions on how to run python live-cam testing:

    Open the entire folder within VSCode
    Run the program "ModelTest.py"
    Prepare droidcam on your android device
    Ensure that the IP address linked to the droidcam within the project matches the IP address of your android
    Run the program and predict the fruits!

